body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

header {
  text-align: center;
  padding: 20px;
  border-bottom: 1px solid #000000;
}

.logo {
  font-family: 'Pacifico', cursive;
  color: #4d1cc0;
  font-size: 40px;
}

.feed {
  max-width: 600px;
  margin: 30px auto;
}

.post {
  background-color: #858181;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px #586919;
}

.post-header {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.avatar-small {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.name {
  font-weight: bold;
  color: #000000;
}

.username {
  color: #000000;
  margin-left: 5px;
}

.post-text {
  margin: 15px 0;
}

.post-actions {
  margin-bottom: 15px;
}

button {
  background-color: #ffffff;
  color: #7c6aa7;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  cursor: pointer;
}

button:hover {
  background-color: #372a72;
}

.comments {
  border-top: 1px solid #241f3d;
  padding-top: 15px;
}

.comment {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
